html {
  font-family: 'Rubik', sans-serif;
}
:root {
  --color-letras-banner: #1F271B;
  --color-fondos: #e3e3e3;
}
/* ESTILOS GENERALES */
* {
  box-sizing: border-box;
}
h1 {
  color: #FFFFFF;
  font-size: 26px;
}
.titulo-principal {
  color: var(--color-letras-banner);
  font-size: 28px;
  margin: 38px 0;
}
.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* NAVBAR */
.navbar-container__mobile {
  display: none;
}
.navbar-container__desktop {
  min-width: 290px;
  max-width: 290px;
  background-image: url(/imagenes/fondo_nav.png);
  padding: 60px 50px 103px;
}
.lista-navbar {
  margin-top: 103px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lista-navbar a {
  height: 32px;
  margin: 8px 0;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 300;
  margin-bottom: 8px;
}
.lista-navbar a:hover {
  color: var(--color-fondos);
}
.lista-navbar i {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  margin-right: 16px;
}
.lista-navbar i:hover {
  color: var(--color-fondos);
}
.full-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}
/* BANNER */
.banner-container {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  color: var(--color-letras-banner);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fondo-banner {
  height: 100%;
  width: 100%;
  background-image: url(/imagenes/fondo_banner.png);
  position: absolute;
}
.banner-container-main {
  z-index: 1;
}
.banner-container-main img {
  width: 250px;
  height: 250px;
  border-radius: 150px;
}
.banner-container-main h2 {
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 18px;
}
.banner-container-main span {
  font-weight: 400;
  color: #247BA0;
}
.redes-sociales {
  margin: 18px 0 24px;
}
.redes-sociales a {
  margin-right: 16px;
  color: var(--color-letras-banner);
  font-size: 25px;
}
.redes-sociales a:hover {
  color: #247BA0;
}
.redes-sociales a:last-child {
  margin-right: 0;
}
.boton-small {
  height: 42px;
  background-color: #247BA0;
  border: none;
  border-radius: 21px;
  width: 130px;
}
.boton-small:hover {
  background-color: var(--color-letras-banner);
}
.boton-small a {
  text-decoration: none;
  color: #FFFFFF;
}
.banner-container__scroll {
  position: absolute;
  bottom: 26px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-container__scroll:hover {
  margin-bottom: 10px;
}
.banner-container__scroll span {
  color: var(--color-letras-banner);
  text-decoration: none;
  font-weight: 400;
}
.banner-container__scroll a {
  text-decoration: none;
}
.banner-container__scroll i {
  width: 16px;
  margin-top: 12px;
  font-size: 18px;
  color: var(--color-letras-banner);
}
/*SOBRE MI*/
.container {
  padding: 60px 55px;
  background-color: var(--color-fondos);
  margin: auto;
}
.sobre-mi {
  display: flex;
  justify-content: space-between;
}
.sobre-mi img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border-radius: 100px;
}
.contenido-sobremi {
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.descripcion-sobremi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
.descripcion-sobremi span {
  margin-bottom: 20px;
  line-height: 1.7;
}
.curriculum {
  height: 42px;
  background-color: #247BA0;
  border: none;
  border-radius: 21px;
  width: 160px;
}
.curriculum:hover {
  background-color: var(--color-letras-banner);
}
.curriculum a {
  text-decoration: none;
  color: #FFFFFF;
}

/* SKILLS */
.card-skills {
  width: 50%;
}
.contenido-skills {
  margin-bottom: 20px;
}
.contenido-skills h3 {
  margin: 0 0 20px;
}
.barra-progreso {
  height: 7px;
  margin-bottom: 0;
  background-color: var(--color-fondos);
  overflow: hidden;
  position: relative;
  border-radius: 7px;
}
.barra-progreso-incompleta {
  position: absolute;
  height: 7px;
}
.contenido-skills:nth-child(1) .barra-progreso-incompleta {
  width: 80%;
  background-color: #D45113;
  border-radius: 7px;
}
.contenido-skills:nth-child(2) .barra-progreso-incompleta {
  width: 70%;
  background-color: #111D4A;
  border-radius: 7px;
}
.contenido-skills:nth-child(3) .barra-progreso-incompleta {
  width: 70%;
  background-color: #e7a005;
  border-radius: 7px;
}
.contenido-skills:last-child {
  margin-bottom: 0;
}
@keyframes progreso {
  0% {
      width: 0;
  }
  100% {
      width: 100%;
  }
}
.barra-progreso {
  animation: progreso 4s linear;
}
/*SERVICES*/
.cards-servicios {
  display: flex;
}
.servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  padding: 30px;
  margin-right: 52px;
  width: 33.33%;
}
.servicios {
  color: #FFFFFF;
}
.servicios p {
  font-weight: 400;
}
.servicios:last-child {
  margin-right: 0;
}
.servicios i {
  font-size: 80px;
}
.card-servicios-titulo {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin: 22px 0;
}
.card-html {
  background-color: #D45113;
}
.card-css {
  background-color: #111D4A;
}
.card-responsive {
  background-color: #e7a005;

}
/*EXPERIENCE*/
.container-estudios {
  display: flex;
  justify-content: center;
}
.card-estudios {
  width: 80%;
  padding: 30px;
  background-color: #FFFFFF;
  margin-right: 20px;
  border-radius: 20px;
}
.card-estudios:last-child {
  margin-right: 0;
}
.data-estudios {
  padding: 0 0 50px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.data-estudios:last-child {
  margin-right: 0;
}
.data-estudios > img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: -20px;
  top: 20px;
}
.year {
  color: var(--color-letras-banner);
  font-size: 16px;
  font-weight: 300;
}
.academia {
  color: var(--color-letras-banner);
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}
.descripcion-estudios {
  color: var(--color-letras-banner);
  margin: 0;
  text-align: justify;
}
.aprendizaje-estudios {
  color: var(--color-letras-banner);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}
/* WORKS */
.container-trabajos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-trabajos {
  position: relative;
  width: 40%;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.card-trabajos:hover > .trabajos_mask {
  opacity: 0.9;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 28px;
  padding: 50px 0 0 30px;
}
.trabajos_mask {
  position: absolute;
  background: #247BA0;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 20px;
  text-decoration: none;
}
.trabajos_mask span {
  font-size: 20px;
}
.card-trabajos img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
}
/* CONTACTME */
.container-contacto {
  display: flex;
  justify-content: space-between;
}
.container-descripcion-contacto {
  flex-direction: column;
  width: 30%;
}
.mensaje {
  color: var(--color-letras-banner);
  font-size: 18px;
  font-weight: 400;
}
.descripcion-contacto {
  color: var(--color-letras-banner);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.formulario {
  width: 60%;
}
.formulario-input {
  display: flex;
  margin-bottom: 20px;
}
.formulario-input > label > input, .area-texto > textarea {
  border-radius: 30px;
  border: none;
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 20px;
}
.formulario-input > label {
  width: 100%;
  margin-right: 20px;
}
.formulario-input > label:last-child {
  margin-right: 0;
}
textarea {
  min-height: 200px;
  max-height: 200px;
  min-width: 100%;
  max-width: 100%;
}
input, .submit, textarea:focus {
  outline: none;
}
.submit {
  color: #FFFFFF;
  margin-top: 10px;
}
/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-image: url(/imagenes/fondo_nav.png);
  padding: 0 170px;
}
.footer span {
  color: #FFFFFF;
}
.redes-footer a {
  margin-right: 16px;
  color: #FFFFFF;
  font-size: 20px;
}
.redes-footer a:hover {
  color: var(--color-fondos);
}
.redes-footer a:last-child {
  margin-right: 0;
}
/* RESPONSIVE */
@media (max-width: 1000px) {
  .container {
    max-width: initial;
    width: 100%;
    padding: 40px 20px;
  }
  .full-container {
    background-image: url(/imagenes/fondo_banner.png);
    background-size: cover;
    background-position: center center;
  }
  .banner-container-main img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
  }
  .banner-container__scroll {
    display: none;
  }
  .navbar-container__desktop {
    display: none;
  }
  .navbar-container__mobile {
    display: unset;
  }
  .navbar-open i {
    color: var(--color-letras-banner);
    font-size: 20px;
    margin: 20px;
  }
  .navbar-close i {
    font-size: 20px;
    margin: 20px;
    color: var(--color-letras-banner);
  }
  .navbar-input,
  .navbar-close {
    display: none;
  }
  .navbar-input:checked ~ .navbar-close {
    display: block;
    color: var(--color-terciary);
  }
  .navbar-input:checked ~ .navbar-open {
    display: none;
  }
  .navbar-contet {
    display: none;
  }
  .navbar-input:checked ~ .navbar-contet {
    display: flex;
    flex-direction: column;
  }
  .navbar-input:checked ~ .navbar-contet {
    display: flex;
    margin: 20px;
  }
  .navbar-contet i {
    color: var(--color-terciary);
    margin-right: 20px;
    color: var(--color-letras-banner);
  }
  .navbar-contet a {
    height: 32px;
    font-size: 18px;
    text-decoration: none;
    color: var(--color-letras-banner);
    margin: 8px 0;
  }
  .titulo-principal {
    text-align: center;
  }
  .sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sobre-mi img {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .contenido-sobremi {
    display: flex;
    flex-direction: column;
  }
  .descripcion-sobremi {
    width: initial;
  }
  .curriculum {
    margin-bottom: 20px;
  }
  .card-skills {
    width: 100%;
  }
  .cards-servicios {
    flex-direction: column;
  }
  .servicios {
    margin: 0 0 20px 0;
    padding: 40px 30px;
    width: 100%;
  }
  .servicios:last-child {
    margin-bottom: 0;
  }
  .container-estudios {
    flex-direction: column;
  }
  .card-estudios {
    margin: 0 0 20px 0;
    width: 100%;
  }
  .card-trabajos {
    width: 100%;
  }
  .container-contacto {
    flex-direction: column;
    width: 100%;
  }
  .container-descripcion-contacto {
    flex-direction: row;
    width: 100%;
  }
  .formulario {
    width: 100%;
  }
  .formulario-input {
    flex-direction: column;
  }
  .formulario-input > label {
    margin-bottom: 20px;
  }
  .formulario-input > label:last-child {
    margin-bottom: 10px;
  }
  .footer {
    padding: 0 20px;
  }
  .redes-footer a:hover {
    background-color: unset;
  }
}